<!--Creating Products page-->
<div class="col">
    <h4 class="block-header">Projects</h4>
    <hr>
    <!--Inputting projects links in to images and text-->
    <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6">
            <a href="https://carlitos-nova.github.io/Word-Guess-Game/" target="_blank">
                <img src="Assets/images/Guessing-Game.png" width="200" height="200" class="projectThumbnail">
                <p class="projectItem">
                    <span style="color:black; font-size: 1.5em; font-weight: bold;">Word Guess Game</span>
                    <br>
                    <span style="color:black">Short Guessing Game application that I created</span>
                </p>
            </a>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-6">
            <a href="https://carlitos-nova.github.io/GifTastic/" target="_blank">
                <img src="Assets/images/Giphy.png" width="200" height="200" class="projectThumbnail">
                <p class="projectItem">
                    <span style="color:black; font-size: 1.5em; font-weight: bold;">GifTastic</span>
                    <br>
                    <span style="color:black">An application that grab GIFs from Giphy.com</span>
                </p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6">
            <a href="https://carlitos-nova.github.io/Train_Scheduler/" target="_blank">
                <img src="Assets/images/Train.png" width="200" height="200" class="projectThumbnail">
                <p class="projectItem">
                    <span style="color:black; font-size: 1.5em; font-weight: bold;">Train Scheduler</span>
                    <br>
                    <span style="color:black">An application that gets a train schedule</span>
                </p>
            </a>
        </div>
    </div>
    <br><br><br><br>
</div>