<!--Creating About page-->
<div class="col">
    <h4 class="block-header">About Me - Carlitos de Castro</h4>
    <!--Inputting Profile Picture and Document-->
    <a href="Assets/Carlitos de Castro.pdf" target="_blank">Click this link to Download my Resume</a>
    <hr>
    <img src="Assets/images/Winter-Profile-Pic.jpg" width="150" height="200" style="float: right;" alt="Carlitos">
    <p>
      My name is Carlitos de Castro, a 21 year old male, enrolled and learning in Centennial College to be a Software Engineer. 
      My history of learning how to code started when I was 13 years old when I started to use a website called 
      Scratch as a fun coding game to play as my free time. Then I improved on my coding skills during my high 
      school years as I started to do Microsoft C, JavaScript, and Adobe Actionscript
    </p>
    <br>
    <p>
      My Hobbies and Interest are playing video games like shooters or role-playing games, as well as baking and exercising. 
      Other things I like is watching or building custom personal computers.
    </p>
    <hr>
    <br><br><br><br>
</div>