<!--Creating Home page-->
<div class="col">
    <h4>Hello World</h4>
    <p>Welcome, this is the my website</p>
    <br>
    <h5>Navigation Buttons</h5>
    <a class="btn btn-info" href="/about" role="button">About</a>
    <a class="btn btn-info" href="/services" role="button">Services</a>
    <a class="btn btn-info" href="/contact" role="button">Contact</a>
    <a class="btn btn-info" href="/products" role="button">Products</a>
</div>